body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.header {
    background-color: #1b2127;
    color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu { /* .menu hereda de .header */
    height: inherit;
}
  
.header ol { /* .header ol hereda de .menu */
    display: flex;
    height: inherit;
}
  
.header ol li { /* .header ol li hereda de .header ol */
    height: inherit;
}

.header a { /* .header a hereda de .header ol li */
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header ol {
    display: flex;
}

.hero {
    height: 300px;
    background-image: url(../images/hero.jpg);
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #1b2127;
    display: flex;
    align-items: center;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.project-details {
    width: 500px;
}

.project-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.project-technology, .project-date, .project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project-imageContainer {
    width: 500px;
}

.experience-list {
    display: flex;
    overflow: hidden;
}

.experience {
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    flex-shrink: 0;
    background-color: #e8f4fc;
}

.experience-detail {
    margin: 20px 40px;
    margin-top: -40px;
    padding: 20px;
    background-color: white;
    position: relative;
    text-align: center;
}

.experience-description {
    text-align: left;
}

.experience-url {
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
}

.experience img {
    width: 480px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}