body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.header {
    background-color: #1b2127;
    color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.menu { /* .menu hereda de .header */
    height: inherit;
}
  
.header ol { /* .header ol hereda de .menu */
    display: flex;
    height: inherit;
}
  
.header ol li { /* .header ol li hereda de .header ol */
    height: inherit;
}

.header a { /* .header a hereda de .header ol li */
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header ol {
    display: flex;
}

.hero {
    height: 300px;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
    object-fit: cover;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.project-details {
    width: 500px;
}

.project-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.project-technology, .project-date, .project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project-imageContainer {
    width: 500px;
}

.experience-list {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.experience-title {
    margin: 40px 0px;
}

.experience {
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    flex-shrink: 0;
    background-color: #e8f4fc;
}

.experience-detail {
    margin: 20px 40px;
    margin-top: -40px;
    padding: 20px;
    background-color: white;
    position: relative;
    text-align: center;
}

.experience-description {
    text-align: left;
}

.experience-url {
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
}

.experience img {
    width: 480px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 0 0;
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 35px;
    margin: 10px 0;
    background-image: url(../images/envelope.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    margin-bottom: 20px;
    background: transparent;
    color: white;
    padding: 5px 0;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    width:  100px;
}

.social-link {
    display: inline-block;
    margin: 0 10px;
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
}

.social-link.twitter {
    background-image: url(../images/twitter.svg);
}

.social-link.facebook {
    background-image: url(../images/facebook.svg);
}

.social-link.github {
    background-image: url(../images/github.svg);
}

.social-link.instagram {
    background-image: url(../images/instagram.svg);
}

.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
